{% extends 'app1/base.html' %}
{% load static %}
{% block body %}

<div class="card radius-15 m-3">
    <div class="row p-3">
       
            <div class="col-md-12">
               <center>
               <h2> New loan Acount</h2>
            </center>
            </div>
            
            
            <hr style="width:95%">
        
    </div>
</div>
<div class="page-content">
    <div class="card radius-15 p-5 ">



<form id="bankForm" method="post" action="{% url 'create_loan_account' %}">
    {% csrf_token %}
    <div class="row p">
        <div class="col-md-5 p-2">ACCOUNT NAME</div>
        <div class="col-md-2"></div>
        <div class="col-md-5 p-2">LENDER BANK</div>
    </div>
    
    <div class="row">
        <div class="col-md-3  p-2"><select     name="acc_name" class="form-control  text-white" id="">
            <option class="form-control bg-dark text-white" value="cash">Select Name</option>
            {% for i in accounts %}
            <option class="form-control bg-dark text-white" value="{{i.holder_name}}">{{i.holder_name}}</option>
            {% endfor %}
        </select></div>
        <div class="col-md-2">
            <a href="#" id="open-modal"><i class="fas fa-plus">plus</i></a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 p-2"> <input class="form-control" type="text" name="lender" value=""> </div>
    </div>
    

<!-- Modal -->


<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="accountModalLabel">Account Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="accountForm">
            <input type="hidden" id="isActive" value="true">
            <div class="form-group">
              <label for="accountName">Account Name</label>
              <input type="text" class="form-control" id="accountName" placeholder="Account Name">
            </div>
  
            <div class="form-group">
              <label for="accountNumber">Account Number</label>
              <input type="text" class="form-control" id="accountNumber" placeholder="Account Number">
            </div>
  
            <div class="form-group">
              <label for="ifscCode">IFSC Code</label>
              <input type="text" class="form-control" id="ifscCode" placeholder="IFSC Code">
            </div>
  
            <div class="form-group">
              <label for="swiftCode">SWIFT Code</label>
              <input type="text" class="form-control" id="swiftCode" placeholder="SWIFT Code">
            </div>
  
            <div class="form-group">
              <label for="bankName">Bank Name</label>
              <select class="form-control" id="bankName">
                <option value="">Select Bank</option>
                {% for bank in BANK_NAME_CHOICES %}
                  <option value="{{ bank.0 }}">{{ bank.1 }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
                <label for="branchName">Branch Name</label>
                <input type="text" class="form-control" id="branchName" placeholder="Branch Name">
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="saveAccountBtn">Save</button>
        </div>
      </div>
    </div>
  </div>
  
<script>
  $(document).ready(function() {
    $('#open-modal').click(function() {
        $('#accountModal').modal('show');
    });

    $(document).ready(function() {
  $('#saveAccountBtn').click(function() {
    var accountName = $('#accountName').val();
    var accountNumber = $('#accountNumber').val();
    var isActive = $('#isActive').val();
    var ifscCode = $('#ifscCode').val();
    var swiftCode = $('#swiftCode').val();
    var bankName = $('#bankName').val();
    var branchName = $('#branchName').val();

    $.ajax({
      url: '{% url "save_account_data" %}',
      method: 'POST',
      data: {
        account_name: accountName,
        account_number: accountNumber,
        is_active: isActive,
        ifsc_code: ifscCode,
        swift_code: swiftCode,
        bank_name: bankName,
        branch_name: branchName
      },
      success: function(response) {
        if (response.success) {
          // Handle success, e.g., close the modal
          $('#accountModal').modal('hide');

          // Optionally, update the dropdown with the new data
        } else {
          // Handle errors, e.g., display an error message
          console.error('Error occurred while saving the account data.');
        }
      },
      error: function(error) {
        // Handle errors, e.g., display an error message
        console.error(error);
      }
    });
  });
});

});


</script>

    <div class="row">
        <div class="col-md-5 p-2">ACCOUNT NUMBER</div>
        <div class="col-md-2"></div>
        <div class="col-md-5 p-2">DESCRIPTION</div>
    </div>
    
    <div class="row">
        <div class="col-md-5 p-2"><input class="form-control" type="number" name="acc_number" value=""></div>
        <div class="col-md-2"></div>
        <div class="col-md-5 p-2"><input class="form-control" type="text" name="desc" value=""></div>
    </div>
    
    <div class="row">
        <div class="col-md-5 p-2">CURRENT BALANCE</div>
        <div class="col-md-2"></div>
        <div class="col-md-5 p-2">LOAN DATE</div>
    </div>
    
    <div class="row">
        <div class="col-md-5 p-2"><input class="form-control" type="text" name="balance" value=""></div>
        <div class="col-md-2"></div>
        <div class="col-md-5 p-2"><input class="form-control" type="date" name="date" value=""></div>
    </div>
    
    <div class="row">
        <div class="col-md-5 p-2">LOAN RECIEVED in</div>
        <div class="col-md-2"></div>
        <div class="col-md-5 p-2">INTREST RATE %</div>
    </div>
    
    <div class="row">
        <div class="col-md-5 p-2"><select   name="recieved" class="form-control  text-white" id="">
            <option class="form-control bg-dark text-white" value="cash">CASH</option>
            {% for i in bank %}
            <option class="form-control bg-dark text-white" value="{{i.bankname}}">{{i.bankname}}</option>
            {% endfor %}
        </select>  </div>  <div class="col-md-2"></div>
        <div class="col-md-5 p-2"><input class="form-control" type="text" placeholder="%" name="intrest" value="%"></div>
    </div>
    
    <div class="row">
        <div class="col-md-5 p-2">TERM</div>
        <div class="col-md-2"></div>
        <div class="col-md-5 p-2">PROCESSING FEE</div>
    </div>
    
    <div class="row">
        <div class="col-md-5 p-2"> <input type="text" name="term" class="form-control" ></div>
        <div class="col-md-2"></div>
        <div class="col-md-5 p-2"><input class="form-control" type="text" name="processing" value=""></div>
    </div>
    
    <div class="row">
        <div class="col-md-5 p-2">PROCESSING PAID FROM</div>
        <div class="col-md-2"></div>
        <div class="col-md-5"></div>
    </div>
    
    <div class="row">
        <div class="col-md-5 p-2"> <select    name="paid" class="form-control  text-white" id="">
            <option class="form-control bg-dark text-white" value="cash">CASH</option>
            {% for i in bank %}
            <option class="form-control bg-dark text-white" value="{{i.bankname}}">{{i.bankname}}</option>
            {% endfor %}
        </select>      </div>
        <div class="col-md-2"></div>
        <div class="col-md-5"></div>
    </div>
    

    
    <div class="row mb-5">
        <div class="col-md-9 mt-3"></div>
        <div class="col-md-2 mt-3">
          <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left">
            Save Loan Account
          </button>
        </div>
        <div class="col-md-1"></div>
      </div>
</form>
</div>
</div>
{% endblock %}
